{erl_opts, [
	{parse_transform, ejson_trans}
]}.
{deps, [
	%% Providing to_json and from_json.
	{ejson, ".*", {git, "git://github.com/jonasrichard/ejson.git"}},

	%% For building OAuth request params.
	{oauth, "1.5.0", {git, "git://github.com/tim/erlang-oauth.git", {tag, "v1.5.0"}}},

	%% For making HTTP requests.
	{ibrowse, "4.0.2", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}},

	%% For webmochi_util:urlencode and webmochi_util:parse_qs.
	{mochiweb, "2.12.2", {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.12.2"}}}
]}.
